{%- comment -%}
  This include generates the sorted_list used for post navigation.
{%- endcomment -%}
{%- if page.categories contains 'works' -%}
{%-   assign idxperma = '/works/' -%}
{%-   assign idxtitle ='Works Index' -%}
{%-   assign idxbutton = 'Index' -%}
{%-   include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date' -%}
{%- elsif page.categories.first == 'topics' and page.categories.last != 'topics' -%}
{%-   assign idxperma = page.categories | join: '/' | prepend: '/' | append: '/' -%}
{%-   assign idxtitle = 'Start page' -%}
{%-   assign idxbutton = 'Start' -%}
{%-   assign sorted_list = site.empty_array -%}
{%-   for topic in site.categories.topics -%}
{%-     if topic.categories.last == page.categories.last -%}{%- assign sorted_list = sorted_list | push: topic -%}{%- endif -%}
{%-   endfor -%}
{%-   assign sorted_list = sorted_list | sort: 'date' -%}
{%- endif -%}