{% if page.categories contains 'work' or page.categories contains 'works' %}
  {% assign idxperma = '/work/' %}
  {% assign idxtitle = 'Work Index' %}
  {% assign idxbutton = 'Index' %}
  {% assign work_list = site.categories.work | default: site.categories.works %}
  {% include fn_groupsort_reverse.html unsorted=work_list groupby='priority' sortby='date' %}
{% endif %}
{% if page.categories.first == 'topics' and page.categories.last != 'topics' %}
  {% assign idxperma = page.categories | join: '/' | prepend: '/' | append: '/' %}
  {% assign idxtitle = 'Start page' %}
  {% assign idxbutton = 'Start' %}
  {% assign sorted_list = site.empty_array %}
  {% for topic in site.categories.topics %}
    {% if topic.categories.last == page.categories.last %}
      {% assign sorted_list = sorted_list | push: topic %}
    {% endif %}
  {% endfor %}
  {% assign sorted_list = sorted_list | sort: 'date' %}
{% endif %}